/**h5页面， 灰底**/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'MicrosoftYahei';
    font-weight: bold;
    color: rgb(77, 73, 245);
    user-select: none;
    
}
input, textarea{
    padding: 0px 10px;
    outline: none;
}
.blur{
    opacity: .2;
}

.hide{
    display: none !important;
}

body{
    text-align: center;
  }
  .root{
      display: inline-block;
  }
.weibo-h5{
    width: 1080px;
    height: 1920px;
    background: url("../img/background.png") ;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.background-rotate{
    position: absolute;
     height: 4000px; 
    width:  4000px;
    left: 50%;
    top: 50%;
    margin-left: -2000px;
    margin-top: -2000px;
    background: url("../img/rotate.png") no-repeat;
    background-size: 4000px 4000px;
   
  
}
.rotate{
    animation: rotation 1.5s linear infinite normal; 
    -webkit-animation: rotation 1.5s  linear infinite normal;
}
.background-rotate > img{
    height: 4000px; 
    width:  2500px;
}

/**来回移动的汉堡，食物等**/
.background-move{
    position:  absolute;
    width: 1080px;
    height: 1800px;  /**1920px,太长**/
    left: 0px;
    top: 50px;
} 
     /**寿司*/
.background-move .rice{
   position: absolute;
   height: 150px;
   top: 60px;
   right: 150px;
   animation: riceMove 1s ease infinite  alternate;
}
.hamberger>img{
    height: 100%;
}
   /**汉堡**/
.background-move .hamberger{
    height: 300px;
    position: absolute;
    bottom: 300px;
    right: 10px;
    animation: hambergerMove 1s ease infinite alternate;
 }
 .hamberger>img{
    height: 100%;
 }
  /**碗**/
.background-move .bowl{
    height: 350px;
    position: absolute;
    bottom: 200px;
    left: 20px;
    animation: bowgerMove 1s ease infinite alternate;

 }
 .bowl>img{
    height: 100%;
 }

 /* 用户交互区， 学校， 显示图片， 按键 */
.uer-interact{
    position: absolute;
    width: 1080px;
    height: 1800px;
    left: 0px;
    top: 50px;
}
    /**学校**/
  .school-container{
      padding: 0px 0px 0px 90px;
      text-align: left;
  }
  .school-container>p , .school{
        
       font-size: 60px;
  }
  .school-container .school{
      display: inline-block;
      margin: 28px 0px;
      font-size: 60px;
      padding: 2px 5px;
      color: rgb(255, 255, 255);
      background:  rgb(77, 73, 245);
      box-shadow: 15px 15px 0px rgb(255, 0, 0);
       
    }
    .school-container .school:hover{
        cursor: pointer;
    }
   /**提示的话**/
   .uer-interact .tips{
       
       position: absolute;
       height: 174px;
       top: 230px;
       left: 200px;
   }
   .tips .tip{
       position: absolute;
       left: 0px;
       top: 0px;
       height: 174px;
      

       /* opacity: 0; */
   }
    
   
   /**按键区**/
   .buttons{
       position: absolute;
       width: 100%;
       bottom: 100px;
       text-align: center;
   }
   .button{
       display: inline-block;
       height: 150px;
       margin: 20px;
       
   }
   .button img{
       height: 100%;
    
   }
   .img_click{
       content: url(../img/click.png);
   }
   .img_click:hover{
       content: url(../img/clicked.png);
   }
   .img_swith{
       content: url(../img/another_taste.png);
   }
   .img_better{
       content: url(../img/another.png);
   }
   .img_better:hover{
    content: url(../img/another_clicked.png);
    }
    .img_look{
        content: url(../img/look_more.png);
    }
    .img_look:hover{
        content: url(../img/looked_more.png);
    }
    .img_advice{
        content: url(../img/advice.png);
    }
    .img_confirm{
         content: url(../img/confirm.png)
    }
    .img_confirm:hover{
        content: url(../img/confirmed.png)
    }

      /**二维码*/
     .erweima{
        height: 300px;
       padding-top: 50px;
     }

/**每个页面的展示区**/
.content-cantainer{
    position: absolute;
    width: 900px;
    height: 1000px;
    left: 50%;
    top: 404px; /**tip+174px**/
    margin-left: -450px;
    border: 10px solid rgb(77, 73, 245);
     border-radius: 30px;
    background: rgb(255, 255, 255);
}
.content-cantainer .content{
    height:980px;  /**减去border**/
    width: 880px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
   /**动图页**/
.content1 > img{
    width: 100%;
    height: 100%;
}
   /**结果页**/
 .content2{
    padding: 0px 69px;
    height: 93px;
  }
    .content2-top{
        height: 171px;  /**计算值，content+padding**/
        text-align: left;
        padding: 39px 0px;
     }
     .content2-head{
        display: inline-block;
        height: 93px;
        width: 93px;
        border-radius: 93px;
        overflow: hidden;
        background-color: pink;
        vertical-align: center;
     }
     .content2-head>img{
        height: 100%;
        width: 100%;
       
     }
    
     .content2-head-info{
        display: inline-block;
        margin-left: 30px;
        height: 93px;
        vertical-align: center;
     }
   
     .content2-name{
         height: 48px;
         font-size: 48px;
         line-height: 48px;
         color: rgb(77, 73, 245);
     }
     .content2-place{
        font-size: 30px;
        height: 45px;
        line-height: 45px; 
        color: rgb(0, 0, 0);
    }
     .content2-img-container{
         height: 500px;
         margin-top: -7px;
     }
     .content2-img-container>img{
         width: 100%;
         height: 100%;
     }
     .content2-middle{
         height: 142px;   /**37x2+68**/
          padding:37px 0px;
     }
     .content2-middle>.content2-like{
         float: left;
         width: 67px;
         height: 68px;
         background: url("../img/share.svg") no-repeat;
         background-size: 100% 100%;
     }
    
     .content2-middle>.content2-price-container{
        float: right;
        font-size: 30px;
        color: #000;
    }
    .content2-price-container>.content2-price{
        padding: 0px 10px;
        font-size: 67px;
       
    }
     .content2-description{
         font-size: 36px;
         color:#000;
         word-wrap:break-word; 
         text-align: left;
     }
     /** 询问页面, 在结果页上面**/
     .content3{
        position: absolute;
        width: 900px;
        top: 0px;
        left: 0px;
     }
     /** 上传页面 **/
     .content4{
         padding: 0 76px;
         background: rgb(239,224,255);
     }
     .content4>.input-error{
        position: absolute;
        text-align: center;
        z-index: 5;
        top: 0px;
        width: 900px;
        font-size: 30px;
        font-weight: bold;
        color: rgb(255, 0, 0)
    }
     .content4-top{
        padding: 67px 0px 27px 0px;
        text-align: center;
        position: relative;
    }
    .content4-top>.content4-camera{
      display: inline-block;
        width: 300px;
        height: 300px;
        border-radius: 300px;
        overflow: hidden;
        background: #fff;

    }
    .content4-camera .camera{
        height: 100%;
        width: 100%;
        content: url(../img/camera.png);
    }
    .camera.complete{
         content: url(../img/complete.png);
    }
    .content4-camera > #file{
            visibility: hidden;
            width: 0px;
            height: 0px;
    }
    .content4-price{
        position: absolute;
        left: 500px; /**计算值 500 -76px*/
        bottom: 0px;
        height: 100px;
    }
    .input-price{
        height: 80px;
        width: 130px;
        font-size: 30px;
        border-radius: 15px;
        border: 8px solid rgb(77, 73, 245);
        vertical-align: middle;
    }
    .content4-price>span{
        margin-left: 20px;
        font-size: 60px;
        vertical-align: middle;
    }
    .content4-store{
        text-align: left;
        margin-bottom: 27px;
    }
    .content4-store>span{
        font-size: 60px;
        vertical-align: middle;
    }
    .content4-store>input {
        font-size: 36px;
         margin: 0px 0px 0px 50px;
         height: 90px;
         width: 420px;
         font-weight: normal;
         border: 8px solid rgb(77, 73, 245);
         vertical-align: middle;
         border-radius: 15px;
        }
   .content4-store-desc{
       width: 100%;
   }
   #store-desc{
       width: 100%;
       font-weight: normal;
       border: 8px solid rgb(77, 73, 245);
       height: 300px;
       font-size: 30px;
       border-radius: 15px;
       
   }

   /**分享图片**/
   .share_picture{
      width: 1080px;
      height: 1920px;
      padding: 10%;
       position: absolute;
       top: 0px;
       left: 0px;
       background: url("../img/background.png") ;
   }
   .share_picture>img{
       width: 100%;
   }
   /**加载页面**/
   .share_loading{
       position: absolute;
        height: 600px;
        width: 800px;
        left: 50%;
        top: 50%;
        margin-left: -400px;
        margin-top: -300px;
      
   }

@keyframes rotation{

     0% {
        transform: rotate(0deg)
     }
     25% {
        transform: rotate(30deg)
     }
     50%{
        transform: rotate(0deg)
     }
     75%{
        transform: rotate(-30deg)
     }
}
@-webkit-keyframes rotation{
   
    0% {
        transform: rotate(0deg)
     }
    25% {
        transform: rotate(30deg)
     }
    
    75%{
        transform: rotate(-30deg)
     }
     100%{
         transform: rotate(0deg)
     }
}


@keyframes riceMove{
   
    to {
       transform: translate(-30px, -30px) scale(0.8,0.8) ;
      
    }
}

@keyframes hambergerMove{
    to {
       transform: translate(0px, 50px)  scale(0.8, 0.8);
      
    }
}

@keyframes bowgerMove{
   
    to {
       transform: translate(30px, -30px) scale(0.8, 0.8);
      
    }
}


/**从animate.css 复制**/

@-webkit-keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 0;
    }
  }
  
 
    
    @-webkit-keyframes zoomIn {
        from {
          opacity: 0;
          -webkit-transform: scale3d(0.3, 0.3, 0.3);
          transform: scale3d(0.3, 0.3, 0.3);
        }
      
        50% {
          opacity: 1;
        }
      }
      
      @keyframes zoomIn {
        from {
          opacity: 0;
          -webkit-transform: scale3d(0.3, 0.3, 0.3) ;
          transform: scale3d(0.3, 0.3, 0.3);
        }
      
        50% {
          opacity: 1;
        }
      }
      
      .zoomIn {
        -webkit-animation: zoomIn .5s;
        animation: zoomIn .5s;
      }
      @-webkit-keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }
      
      .fadeIn {
        -webkit-animation: fadeIn .6s;
        animation: fadeIn .6s;
      }
     
      
     
      
      
      
      